<!DOCTYPE html>
<html>
<head>
    <title>History</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="navbar">
    <h3>Resume Analyzer</h3>
    <div>
        <a href="/">Home</a>
        <a href="/compare">Compare</a>
        <a href="/history">History</a>
        <a href="/logout">Logout</a>
    </div>
</div>

<div class="container">

    <h2>Resume History</h2>

    {% for h in data %}
    <div class="card">
        <p><b>Resume:</b> {{ h[0] }}</p>
        <p><b>Score:</b> {{ h[1] }}%</p>
        <p><b>Date:</b> {{ h[2] }}</p>
    </div>
    {% endfor %}

</div>

</body>
</html>